sudo: true
dist: trusty
language: generic

addons:
  apt:
    packages:
    - snapd

install:
  - sudo snap install hugo
  - export PATH=/snap/bin:$PATH

script:
  - hugo 

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  # 在Travis CI 后台设置私密的 Gitbub Token 配置项